<h1>Restablecer contraseña</h1>
  <form [formGroup]="formulario" (ngSubmit)="onSubmit()" >
    
      <div class="form-group col-md-6">
        <mat-form-field class="example-full-width">
            <mat-label>Ingrese la contraseña</mat-label>
            <input matInput [type]="hide ? 'text' : 'password'"
            
            
            formControlName="password" [errorStateMatcher]="matcher">
            
            <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
            <mat-error *ngIf="f.password.dirty ">
              <mat-error *ngIf="!formulario.hasError('required')">
                La contraseña es <strong>obligatoria</strong><br/>
                La contraseña debe tener más de 8 caracteres
              </mat-error>  
            </mat-error>
                      
          </mat-form-field>
      </div>
      <div class="form-group col-md-6">
        <mat-form-field class="example-full-width">
            <mat-label>confirme la contraseña</mat-label>
            <input matInput [type]="hide ? 'text' : 'password'"
            
           
            formControlName="passwordCon" [errorStateMatcher]="matcher">
            
            <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
            
              <mat-error *ngIf="f.passwordCon.dirty">
                
                <mat-error *ngIf="!formulario.hasError(confirmedValidator)">
                  la contraseñas no coinciden
                </mat-error>
              </mat-error>
              
            
          </mat-form-field>
      </div>
     
    
    <button type="submit" mat-flat-button color="black" [disabled]="!formulario.valid">Guardar</button>
  </form>
